#text {
  background: black;
    position: absolute;
    left: 20%;
    top: 20px;
    border-radius: 10px;
    z-index: 10;
    color: white;
    padding: 10px;
}

#texPosi{
  padding: 10px;
}

.formRand{
  margin: 5px;
}