#text {
  background: black;
    position: absolute;
    left: 35%;
    top: 20px;
    border-radius: 10px;
    z-index: 10;
    color: white;
    padding: 10px;
}

#slider-box {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: linen;
  border-radius: 5px;
  z-index: 1;
}