
body {
  color: #000;
  font-family:Monospace;
  font-size:13px;
  text-align:center;
  font-weight: bold;

  background-color: #fff;
  margin: 0px;
  overflow: hidden;
}

#text {
  background: black;
    position: absolute;
    left: 35%;
    top: 20px;
    border-radius: 10px;
    z-index: 10;
    color: white;
    padding: 10px;
}

.map-button-parent {
  position: absolute;
  bottom: 20px;
  background: linen;
  border-radius: 5px;
  z-index: 1;
  padding: 5px;
}

#map-button-parent-zoom {
  left: 10px;
}

#map-button-parent-rotate {
  left: 60px;
}

#map-button-parent-tilt {
  left: 110px;
}

.map-button {
  cursor: pointer;
  height: 40px;
  width: 40px;
}